<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lern.mathe1app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoversuch6klein"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lern.mathe1app.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lern.mathe1app.TestAufgabe"
            android:label="@string/title_activity_test_aufgabe"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lern.mathe1app.Statistic"
            android:label="@string/title_activity_statistic"
            android:screenOrientation="portrait" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>
